<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto: Light/Dark"}} class="auto-dark-mode"{{else match @custom.color_scheme "Partial Dark"}} class="partial-dark-mode"{{else match @custom.color_scheme "Auto: Partial Dark/Dark"}} class="auto-partial-dark-mode"{{/match}}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{@site.title}} — {{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{{block "fonts_css"}}}
		{{ghost_head}}
		{{#if @custom.global_background_color_in_hex_string}}
		<style>:root {--ghost-bg-color: {{@custom.global_background_color_in_hex_string}};}</style>
		{{/if}}
	</head>
	<body class="{{body_class}} custom-page{{#if @custom.accent_color_buttons}} global-accent-color-buttons{{/if}}">
		{{{body}}}
		{{ghost_foot}}
	</body>
</html>